
/game
/log
/temp
/sources/DX/include
/sources/DX/lib
/sources/ipch

*.opensdf
*.sdf
*.suo
*.user
*.exp
*.bsc

/sources/lib/ArxCommon_debug.lib
/sources/lib/ARX_SCRIPT_DEBUGGER_debug.lib
/sources/lib/Athena_debug.lib
/sources/lib/EErie_debug.lib
/sources/lib/HERMES_debug.lib
/sources/lib/Mercury_debug.lib
/sources/lib/MINOS_debug.lib

/sources/lib/ArxCommon.lib
/sources/lib/ARX_SCRIPT_DEBUGGER.lib
/sources/lib/Athena.lib
/sources/lib/EErie.lib
/sources/lib/HERMES.lib
/sources/lib/Mercury.lib
/sources/lib/MINOS.lib